<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/updatedoctor/{{b.id}}" method="POST">{%csrf_token%}
    <label>Name</label>
    <input type="text" placeholder="enter your name" name="name" value="{{b.name}}">
    <br>
    <br>
    <label>Email</label>
    <input type="email" placeholder="enter your email" name="email" value="{{b.email}}">
    <br>
    <br>
    <label>Number</label>
    <input type="number" placeholder="enter your number" name="number" value="{{b.number}}">
    <br>
    <br>
    <label>Address</label>
    <input type="text" placeholder="enter your address" name="address" value="{{b.address}}">
    <br>
    <br>
    <label>Department</label>
    <input type="text" placeholder="enter your department" name="department" value="{{b.department}}">
    <br>
    <br>
    <label>Education qualification</label>
    <input type="text" placeholder="enter your qualification" name="education qualification" value="{{b.educationqualification}}">
    <br>
    <br>
    <label>Experience</label>
    <input type="text" placeholder="enter your experience" name="experience" value="{{b.experience}}">
    <br>
    <br>
    <label>Dr id</label>
    <input type="text" placeholder="enter dr id" name="dr id" value="{{b.drid}}">
    <br>
    <br>

       <input type="submit">

</body>
</html>